{% extends 'jdamainapp/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}

<div class="row justify-content-center align-items-center">
    <div class="col-sm-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show text-center" id="msg_alert" role="alert">
            <a class="close" data-dismiss="alert">x</a>
            <i class="text-muted mr-5">{{message|safe}}</i>
        </div>
        {%endfor%}
        {%endif%}
    </div>
</div>

{% include "jdafinancialsapp/jdafinancialsapp_breadcrumbs.html" %}

<div class="card text-center mt-3">
    <form method="POST" novalidate>
        {% csrf_token %}
        <div class="card-header">
            <h5 class="text-muted"><i class="fas fa-compass  my_info_txt"></i> {% trans 'Add Company' %}</h5>
        </div>

        <div class="card-body">

            <!-- Raison Social -->
            <div class="row">
                <div class="col-12"><input class="form-control" type="text" placeholder="Raison Sociale" readonly></div>
            </div>
            <div class="row">
                <div class="col-9">{{form.corp_name|as_crispy_field}}</div>
                <!--div class="col-3">{form.rpt_period|as_crispy_field}</div-->
                <div class="col-3">{{form.sector |as_crispy_field}}</div>
            </div>
            <div class="row">
                <div class="col-4">{{form.company|as_crispy_field}}</div>
                <div class="col-4">{{form.creatn_dt | as_crispy_field}}</div>
                <div class="col-4">{{form.id_cntry | as_crispy_field}}</div>
            </div>
            <div class="row">
                <div class="col-4">{{form.legl_form | as_crispy_field}}</div>
                <div class="col-4">{{form.rccm_nbr | as_crispy_field}}</div>
                <div class="col-2 form-check float-right">
                    <label class="form-check-labelX">Societe sous control public</label>
                </div>
                <div class="col-2">
                    {{form.flag_pub_ctrl | as_crispy_field}}
                </div>
            </div>
            <!-- activite -->
            <div class="row">
                <div class="col-6"><input class="form-control" type="text" placeholder="Activite" readonly></div>
                <div class="col-6"><input class="form-control" type="text" placeholder="Actionnariat" readonly>
                    <span class="float_right"><i class="fas fa-user-plus"></i></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">{{form.actvty_sctr|as_crispy_field}}</div>
                <div class="col-2">{{form.shrhldr_name_1|as_crispy_field}}</div>
                <div class="col-2">{{form.shrhldr_type_1|as_crispy_field}}</div>
                <div class="col-2">{{form.shrs_hld_1|as_crispy_field}}</div>
            </div>

            <div class="row">
                <div class="col-6">{{form.actvty_code|as_crispy_field}}</div>
                <div class="col-2">{{form.shrhldr_name_2|as_crispy_field}}</div>
                <div class="col-2">{{form.shrhldr_type_2|as_crispy_field}}</div>
                <div class="col-2">{{form.shrs_hld_2|as_crispy_field}}</div>
            </div>
            <div class="row">
                <div class="col-6">{{form.intrnl_actvty_code | as_crispy_field}}</div>
                <div class="col-2">{{form.shrhldr_name_3|as_crispy_field}}</div>
                <div class="col-2">{{form.shrhldr_type_3|as_crispy_field}}</div>
                <div class="col-2">{{form.shrs_hld_3|as_crispy_field}}</div>
            </div>
            <div class="row">
                <div class="col-6">{{form.othr_bus_sctr | as_crispy_field}}</div>
                <div class="col-2">{{form.shrhldr_name_4|as_crispy_field}}</div>
                <div class="col-2">{{form.shrhldr_type_4|as_crispy_field}}</div>
                <div class="col-2">{{form.shrs_hld_4|as_crispy_field}}</div>
            </div>




        </div>
        <div class="card-footer text-muted">
            <input class="btn btn-info" role="button" type="submit" value="{% trans 'Add Company' %}">
        </div>
    </form>
</div>

<!--div class="card text-center mt-5">
    <form method="POST" novalidate>
        <div class="card-header">
            <h5 class="text-muted"><i class="fas fa-compass  my_info_txt"></i> Add New Company</h5>
        </div>
        <div class="card-body">
            {% csrf_token %}
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    { form.sector|as_crispy_field }
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    {form.company | as_crispy_field}
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    {form.rpt_period | as_crispy_field}
                </div>

            </div>
        </div>
        <div class="card-footer text-muted">
            <input class="btn btn-info"  role="button" type="submit" value="Add New Company">
        </div>
    </form>
</div-->

<style>
    .my_header_gray
    {
     margin-bottom:1px;
	 border: 1px solid #dcdcdc;
	 background-color:#f8f9fa;
     font-weight: bold;
     font-size: 16px;
     text-align: left;
    }

    .my_div_border_gray
    {
	 margin-bottom:1px;
	 border: 1px solid #dcdcdc;
	 background-color:#f8f9fa;
     margin-bottom:2px;
     font-weight: bold;
   }

     .my_div_border_blk
    {
	 margin-bottom:1px;
	 border: 1px solid #dcdcdc;

     margin-bottom:2px;
     font-weight: bold;
   }

table td {
  position: relative;
}

table td input {
  position: absolute;
  display: block;
  top:0;
  left:0;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  padding: 10px;
  box-sizing: border-box;
}

.my_checkbox{
 width:20px;
 height:20px;
 vertical-align: right;
 padding:10px;
 margin-top:10px;


}

.my_dropdown{
 width:20px;
 height:20px;
 vertical-align: middle;
 padding: 0 !important;
  margin: 0 !important;
  border-collapse: collapse;
  margin-bottom:0 !important;
}

.asteriskField {
    display: none;
}

.move-left {
    width: auto;
    box-shadow: none;
  }

  form label
  {
   color: #435E66;
   font-size: 16px;
   align:right;
   margin-top:20px;
   margin-right:10px;
  }

</style>

<script>
 function company_check_box()
 {
  document.getElementById('div_id_flag_pub_ctrl').className = 'float-left';
 }
</script>
{% endblock %}



