<nav aria-label="breadcrumb">
    <ol class="breadcrumb my_breadcrumb_bg">
        <li class="breadcrumb-item"><a href="{% url 'jdafinancialsapp_home' %}" class="text-light {{bread_home}}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'jdafinancialsapp_stmts' %}" class="text-light {{bread_stmts}}">Our Statements</a></li>
        <!--li class="breadcrumb-item"><a href="{% url 'jdafinancialsapp_new_company' %}" class="text-light {{bread_new_company}}">Add new Company</a></li-->
        <!--li class="breadcrumb-item"><a href="{% url 'jdafinancialsapp_bal_all_rpt' %}" class="text-light {{bread_all_bal}}"> View all Balance Sheets</a></li>
        <li class="breadcrumb-item"><a href="{% url 'language_formset' %}" class="text-light {{bread_language_formset}}">Language Formset</a></li>
        <li class="breadcrumb-item"><a href="{% url 'language_inline_formset' %}" class="text-light {{bread_language_formset}}">Language inline Formset</a></li>
        <li class="breadcrumb-item"><a href="{% url 'financial_fact_formset' %}" class="text-light {{bread_financial_fact_formset}}">Financial Fact Formset</a></li>
        <li class="breadcrumb-item"><a href="{% url 'shareholder_formset' %}" class="text-light {{bread_shareholder_formset}}">Shareholder Formset</a></li-->
    </ol>
</nav>
