{% extends 'jdamainapp/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}

<div class="row justify-content-center align-items-center">
    <div class="col-sm-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show text-center" id="msg_alert" role="alert">
            <a class="close" data-dismiss="alert">x</a>
            <i class="text-muted mr-5">{{message|safe}}</i>
        </div>
        {%endfor%}
        {%endif%}
    </div>
</div>



{% include "jdafinancialsapp/jdafinancialsapp_breadcrumbs.html" %}

<div class="card text-center mt-3">
    <div class="card-header">
        <div class="row justify-content-center">
            <a href="{% url 'jdafinancialsapp_statement_rpt' company_id statement entry_date %}"><i class="fas fa-layer-group  fa-2x my_info_txt mr-1 mt-2"></i></a>
            <span class="Xmy_info_txt_title mt-3 text-secondary"><h6>{{title}}</h6></span>
        </div>
    </div>
    <form class="hero-form" method="post"
          action="{% url 'jdafinancialsapp_bal_entry_formset' sector company_id entry_date statement %}" novalidate>
        <div class="card-body">
            {% csrf_token %}
            <div class="row">
                <table id='bal_tbl' class="table table-sm table-bordered table-hover">
                    <tr>
                        <th class="text-center">#</th>
                        <th>Balance Sheet</th>
                        <th class="min_width">Brut</th>
                        <th class="min_width">Amort</th>
                        <th class="min_width">Net</th>
                        <th class="min_width">Prev Net</th>
                    </tr>
                    {{ formset.management_form | crispy}}
                    {% for l, v in line_items_formset_zip %}
                    <tr>
                        <td class="asterisk text-center">{{ forloop.counter0 }}</td>
                        {% if l|striptags in line_hearders_subs%}
                        <td class="font-weight-bold">{{l|striptags}}</td>
                        {% else %}
                        <td>{{l}}</td>
                        {% endif %}
                        <td>{{v.value_brut}}<span class="invisible">{{v.id}}</span></td>
                        <!--td>{{v.value_amort}}<span class="invisible">{{v.id}}</span></td>
                        <td>{{v.value_net}}<span class="invisible">{{v.id}}</span></td>
                        <td>{{v.value_net_prev_yr}}<span class="invisible">{{v.id}}</span></td-->
                    </tr>
                    {% endfor %}
                </table>

            </div>

        </div>
        <div class="card-footer text-muted">
            <input class="btn btn-info" role="button" type="submit" value="submit">
        </div>
    </form>

</div>

<style>

table td {
  position: relative;
}

th {
  text-align: left;
  background-color:#EEEEEE;
  /*min-width:150px;*/
}

td {
 text-align:left;
}


table td input {
  position: absolute;
  display: block;
  top:0;
  left:0;
  margin: 0;
  height: 100%;
  width: 100%;
  border: solid 1px;
  border-color:#f8f9fa;
  border-width: 1px;
  padding: 1px;
  box-sizing: border-box;
}

.asterisk{
 max-width: 30px;
 align:center;
}

.min_width{
 min-width:150px;
}

input[id=id_form-0-value_brut, id=id_form-0-value_amort]{pointer-events: none; color:#ffffff; background-color:#f8f9f8; }
input[id=id_form-0-value_amort]{pointer-events: none; color:#ffffff; background-color:#f8f9f8;}
input[id=id_form-0-value_net]{pointer-events: none; color:#ffffff; background-color:#f8f9f8;}
input[id=id_form-0-value_net_prev_yr]{pointer-events: none; color:#ffffff; background-color:#f8f9f8;}

input[id=id_form-32-value_brut]{pointer-events: none; color:#ffffff; background-color:#f8f9f8;}
input[id=id_form-32-value_amort]{pointer-events: none; color:#ffffff; background-color:#f8f9f8;}
input[id=id_form-32-value_net]{pointer-events: none; color:#ffffff; background-color:#f8f9f8;}
input[id=id_form-32-value_net_prev_yr]{pointer-events: none; color:#ffffff; background-color:#f8f9f8;}

input[id=id_form-1-value_brut]{pointer-events: none;  border: solid 1px; border-color:#CED4DA; font-weight:bold; border-radius: 5px;}
input[id=id_form-6-value_brut]{pointer-events: none;  border: solid 1px; border-color:#CED4DA; font-weight:bold; border-radius: 5px;}
input[id=id_form-15-value_brut]{pointer-events: none; border: solid 1px; border-color:#CED4DA; font-weight:bold; border-radius: 5px;}
input[id=id_form-18-value_brut]{pointer-events: none; border: solid 1px; border-color:#CED4DA; font-weight:bold; border-radius: 5px;}
input[id=id_form-21-value_brut]{pointer-events: none; border: solid 1px; border-color:#CED4DA; font-weight:bold; border-radius: 5px;}
input[id=id_form-25-value_brut]{pointer-events: none; border: solid 1px; border-color:#CED4DA; font-weight:bold; border-radius: 5px;}
input[id=id_form-29-value_brut]{pointer-events: none; border: solid 1px; border-color:#CED4DA; font-weight:bold; border-radius: 5px;}
input[id=id_form-31-value_brut]{pointer-events: none; border: solid 1px; border-color:#CED4DA; font-weight:bold; border-radius: 5px;}
input[id=id_form-43-value_brut]{pointer-events: none; border: solid 1px; border-color:#CED4DA; font-weight:bold; border-radius: 5px;}
input[id=id_form-47-value_brut]{pointer-events: none; border: solid 1px; border-color:#CED4DA; font-weight:bold; border-radius: 5px;}
input[id=id_form-48-value_brut]{pointer-events: none; border: solid 1px; border-color:#CED4DA; font-weight:bold; border-radius: 5px;}
input[id=id_form-55-value_brut]{pointer-events: none; border: solid 1px; border-color:#CED4DA; font-weight:bold; border-radius: 5px;}
input[id=id_form-58-value_brut]{pointer-events: none; border: solid 1px; border-color:#CED4DA; font-weight:bold; border-radius: 5px;}
input[id=id_form-60-value_brut]{pointer-events: none; border: solid 1px; border-color:#CED4DA; font-weight:bold; border-radius: 5px;}


.my_bold
{
 font-weight:bold;
}

.my_header_bg
{
 background-color: #f8f9f8;
}

.my_bold_total
{
 border-bottom-style: hidden;
 font-weight:bold;
 margin-left:5px;
 background-color: #dee2c6;
}
</style>


<!--style>
 *{
  box-sizing: border-box;
}

.row {
  margin-left:20px;
  margin-right:20px;
}

.column {
  float: left;
  width: 70%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  border-spacing: 10;
  width: 100%;
  border: 1px solid #ddd;

}

th, td {
  text-align: left;
  padding: 20px;
  padding-left:5px;
  padding-right:5px;

}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


.my_nopad_lbl{
  padding: 4px !important;
  margin: 0 !important;
  background-color:#fff;
  border-collapse: collapse;

}


.my_nopad_val{
  padding: 0px !important;
  margin: 0 !important;
  background-color:#fff;
  border-collapse: collapse;

}

input {
border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  border-color:#dee2e6;
  background-color: #fcfcfc;


}

.no-outline:focus {
  outline: none;
}


</style>


<style type="text/css">
input[id=id_form-0-value]{pointer-events: none;}
input[id=id_form-5-value]{pointer-events: none;}
input[id=id_form-14-value]{pointer-events: none;}
input[id=id_form-20-value]{pointer-events: none;}
input[id=id_form-24-value]{pointer-events: none;}
input[id=id_form-28-value]{pointer-events: none;}
input[id=id_form-30-value]{pointer-events: none;}
input[id=id_form-41-value]{pointer-events: none;}
input[id=id_form-45-value]{pointer-events: none;}
input[id=id_form-46-value]{pointer-events: none;}
input[id=id_form-53-value]{pointer-events: none;}
input[id=id_form-56-value]{pointer-events: none;}
input[id=id_form-58-value]{pointer-events: none;}
/*input[id=id_form-34-value]{pointer-events: none; color:#ffffff;}
*/


.my_bold
{
 border-bottom-style: hidden;
 font-weight:bold;
 margin-left:5px;
}

.my_bold_total
{
 border-bottom-style: hidden;
 font-weight:bold;
 margin-left:5px;
 background-color: #dee2c6;
}

</style>
-->
<script>
function calc()
{
 //set_passive_header(); // Add passive label only once
 v0=document.getElementById('id_form-0-value_brut').value;
 v1=document.getElementById('id_form-1-value_brut').value;
 v2=document.getElementById('id_form-2-value_brut').value;
 v3=document.getElementById('id_form-3-value_brut').value;
 v4=document.getElementById('id_form-4-value_brut').value;
 v5=document.getElementById('id_form-5-value_brut').value;
 v6=document.getElementById('id_form-6-value_brut').value;

 v7=document.getElementById('id_form-7-value_brut').value;
 v8=document.getElementById('id_form-8-value_brut').value;
 v9=document.getElementById('id_form-9-value_brut').value;
 v10=document.getElementById('id_form-10-value_brut').value;
 v11=document.getElementById('id_form-11-value_brut').value;
 v12=document.getElementById('id_form-12-value_brut').value;
 v13=document.getElementById('id_form-13-value_brut').value;
 v14=document.getElementById('id_form-14-value_brut').value;

 v15=document.getElementById('id_form-15-value_brut').value;
 v16=document.getElementById('id_form-16-value_brut').value;
 v17=document.getElementById('id_form-17-value_brut').value;

 v18=document.getElementById('id_form-18-value_brut').value;

 v19=document.getElementById('id_form-19-value_brut').value;
 v20=document.getElementById('id_form-20-value_brut').value;
 v21=document.getElementById('id_form-21-value_brut').value;
 v22=document.getElementById('id_form-22-value_brut').value;
 v23=document.getElementById('id_form-23-value_brut').value;
 v24=document.getElementById('id_form-24-value_brut').value;
 v25=document.getElementById('id_form-25-value_brut').value;
 v26=document.getElementById('id_form-26-value_brut').value;
 v27=document.getElementById('id_form-27-value_brut').value;
 v28=document.getElementById('id_form-28-value_brut').value;
 v29=document.getElementById('id_form-29-value_brut').value;
 v30=document.getElementById('id_form-30-value_brut').value;
 v31=document.getElementById('id_form-31-value_brut').value;
 v32=document.getElementById('id_form-32-value_brut').value;
 v33=document.getElementById('id_form-33-value_brut').value;
 v34=document.getElementById('id_form-34-value_brut').value;
 v35=document.getElementById('id_form-35-value_brut').value;
 v36=document.getElementById('id_form-36-value_brut').value;
 v37=document.getElementById('id_form-37-value_brut').value;
 v38=document.getElementById('id_form-38-value_brut').value;
 v39=document.getElementById('id_form-39-value_brut').value;
 v40=document.getElementById('id_form-40-value_brut').value;
 v41=document.getElementById('id_form-41-value_brut').value;
 v42=document.getElementById('id_form-42-value_brut').value;
 v43=document.getElementById('id_form-43-value_brut').value;
 v44=document.getElementById('id_form-44-value_brut').value;
 v45=document.getElementById('id_form-45-value_brut').value;
 v46=document.getElementById('id_form-46-value_brut').value;
 v47=document.getElementById('id_form-47-value_brut').value;
 v48=document.getElementById('id_form-48-value_brut').value;
 v49=document.getElementById('id_form-49-value_brut').value;
 v50=document.getElementById('id_form-50-value_brut').value;
 v51=document.getElementById('id_form-51-value_brut').value;
 v52=document.getElementById('id_form-52-value_brut').value;
 v53=document.getElementById('id_form-53-value_brut').value;
 v54=document.getElementById('id_form-54-value_brut').value;
 v55=document.getElementById('id_form-55-value_brut').value;
 v56=document.getElementById('id_form-56-value_brut').value;
 v57=document.getElementById('id_form-57-value_brut').value;
 v58=document.getElementById('id_form-58-value_brut').value;
 v59=document.getElementById('id_form-59-value_brut').value;
 v60=document.getElementById('id_form-60-value_brut').value;
 //v61=document.getElementById('id_form-61-value_brut').value;

 /* Sub totals */
 document.getElementById("id_form-1-value_brut").value=sum(v2,v3,v4, v5);
 document.getElementById("id_form-6-value_brut").value =sum(v7,v8,v9,v10, v11, v12, v13, v14);
 document.getElementById("id_form-15-value_brut").value =sum(v16,v17);
 document.getElementById("id_form-18-value_brut").value =sum(v1, v6, v15);
 document.getElementById("id_form-21-value_brut").value =sum(v22, v23, v24);
 document.getElementById("id_form-25-value_brut").value =sum(v20, v21);
 document.getElementById("id_form-29-value_brut").value =sum(v26, v27, v28);
 document.getElementById("id_form-31-value_brut").value =sum(v18,v25,v29,v30);
 document.getElementById("id_form-43-value_brut").value =sum(v33, v34, v35, v36, v37, v38, v39, -v40);
 document.getElementById("id_form-47-value_brut").value =sum(v44, v45, v46);
 document.getElementById("id_form-48-value_brut").value =sum(v43, v47);
 document.getElementById("id_form-55-value_brut").value =sum(v49, v50, v51, v52, v53, v54);
 document.getElementById("id_form-58-value_brut").value =sum(v56, v57);
 document.getElementById("id_form-60-value_brut").value =sum(v48, v55, v58, v59);
 /* Bold values*/
 /*document.getElementById('id_form-1-value_brut').className = 'my_bold';
 document.getElementById('id_form-6-value_brut').className = 'my_bold';
 document.getElementById('id_form-15-value_brut').className = 'my_bold';
 document.getElementById('id_form-18-value_brut').className = 'my_bold';
 document.getElementById('id_form-21-value_brut').className = 'my_bold';
 document.getElementById('id_form-25-value_brut').className = 'my_bold';
 document.getElementById('id_form-29-value_brut').className = 'my_bold';
 document.getElementById('id_form-31-value_brut').className = 'my_bold';
 document.getElementById('id_form-43-value_brut').className = 'my_bold';
 document.getElementById('id_form-47-value_brut').className = 'my_bold';
 document.getElementById('id_form-48-value_brut').className = 'my_bold';
 document.getElementById('id_form-55-value_brut').className = 'my_bold';
 document.getElementById('id_form-58-value_brut').className = 'my_bold';
 document.getElementById('id_form-58-value_brut').className = 'my_bold';*/
}


function sum()
{
 var tot = 0.00;
 for (i = 0; i < arguments.length; i++)
 {
  tot+=parseFloat(arguments[i]);
 }
 if (isNaN(tot)) {
    return '0.00';
  }
  else
  {
   return tot.toFixed(2);
 }
}


function my_lbl_row()
{
 var table = document.getElementById("bal_tbl");
  var row = table.insertRow(32);
  var cell1 = row.insertCell(0);
  var cell2 = row.insertCell(1);
  cell1.innerHTML = '';
  cell2.innerHTML = "<span class='text-center font-weight-bold'>BALANCE SHEET(PASSIF)</span>";
}


function my_input_row()
{
 var table = document.getElementById("bal_table_input");
  var row = table.insertRow(32);
  var cell1 = row.insertCell(0);

  cell1.innerHTML = "<span class='text-center font-weight-bold'>BRUT</span>";
}


function paint_row_hearder()
{
 var cells_actif  = document.querySelectorAll('tr:nth-child(6)');
 var cells_passif = document.querySelectorAll('tr:nth-child(38)');

 for(var i = 0 ; i < cells_actif.length ; i++)
 {
  if(cells_actif[i].textContent.trim() > '')
  {
    cells_actif[i].classList.add('my_header_bg');
  }
 }

 for(var i = 0 ; i < cells_passif.length ; i++)
 {
  if(cells_passif[i].textContent.trim() > '')
  {
   cells_passif[i].classList.add('my_header_bg');
  }
 }
}



var set_passive_header = (function() {
    var executed = false;
    return function() {
        if (!executed) {
            executed = true;
            // do something only once
            paint_row_hearder();
            //my_lbl_row();
            //my_input_row();
        }
    };
})();


  window.onload = function(){
        // All code comes here
        calc();
        set_passive_header();
        //paint_row_hearder();
 }

</script>
{% endblock %}



