{% extends 'jdamainapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="row justify-content-center align-items-center">
    <div class="col-sm-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show text-center" id="msg_alert" role="alert">
            <a class="close" data-dismiss="alert">x</a>
            <i class="text-muted mr-5">{{message|safe}}</i>
        </div>
        {%endfor%}
        {%endif%}
    </div>
</div>


{% include "jdafinancialsapp/jdafinancialsapp_breadcrumbs.html" %}
<!--nav aria-label="breadcrumb">
  <ol class="breadcrumb my_breadcrumb_bg">
    <li class="breadcrumb-item"><a href="{% url 'jdafinancialsapp_home' %}" class="text-light font-weight-bold">Home</a></li>
     <li class="breadcrumb-item"><a href="{% url 'jdafinancialsapp_stmts' %}" class="text-light">Our Statements</a></li>

  </ol>
</nav-->


  <style type="text/css">
    .bg-cover {
        background-image: url({% static 'jdamainapp/assets/img/slider/compass.jpg' %});
    }
</style>

<div class="jumbotron jumbotron bg-cover">
    <div class="overlay"></div>
    <div class="container">
       <div class="text-white text-center py-3 px-2 my-3">
        <div>
            <h2 class="card-title  pt-3 mb-2 font-bold"><strong class="my_info_txt">
                J&D </strong><strong class="text-white wow">{% trans 'Financials App' %}</strong></h2>
            <a href="{% url 'jdafinancialsapp_stmts' %}" class="btn btn-outline-white btn-md"><i class="fa fa-clone left my_info_txt"></i><span class="text-white"> {% trans 'Our Financial statements' %}</span></a>
        </div>
    </div>
    </div>
  </div>


<div class="card shadow-sm p-2 mb-2 bg-white rounded">
    <!-- ======= Services Section ======= -->
    <div id="services" class="services-area my_area-padding">
        <div class="container-fluid">
            <div class="row text-center">
                <!-- Start Left services -->
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="about-move">
                        <div class="services-details">
                            <div class="single-services">
                                <a class="services-icon" href="#">
                                    <i class="far fa-balance-scale fa-2x my_info_txt"></i>
                                </a>
                                <h4>{% trans 'Balance Sheets' %}</h4>
                                <!--p>
                                    <i class="far fa-check-circle my_info_txt"></i> Models
                                    <i class="far fa-check-circle my_info_txt"></i> Newsletters
                                    <i class="far fa-check-circle my_info_txt"></i> Commentaries
                                    <i class="far fa-check-circle my_info_txt"></i> Reports

                                </p-->
                            </div>
                        </div>
                        <!-- end about-details -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 vl">
                    <div class="about-move">
                        <div class="services-details">
                            <div class="single-services">
                                <a class="services-icon" href="#">
                                    <i class="fas fa-hand-holding-usd fa-2x my_info_txt"></i>
                                </a>
                                <h4>{% trans 'Income Statements' %}</h4>
                                <!--p>
                                    <i class="far fa-check-circle my_info_txt"></i> Valuation Models
                                    <i class="far fa-check-circle my_info_txt"></i> Market data analysis
                                    <i class="far fa-check-circle my_info_txt"></i> Portfolio insights
                                </p-->
                            </div>
                        </div>
                        <!-- end about-details -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 vl">
                    <!-- end col-md-4 -->
                    <div class=" about-move">
                        <div class="services-details">
                            <div class="single-services">
                                <a class="services-icon" href="#">
                                    <i class="fas fa-coins fa-2x my_info_txt"></i>
                                </a>
                                <h4>{% trans 'Investment Account' %}</h4>
                                <!--p>
                                    <i class="far fa-check-circle my_info_txt"></i> Daily Market briefings
                                    <i class="far fa-check-circle my_info_txt"></i> Weekly Comments
                                    <i class="far fa-check-circle my_info_txt"></i> Annual Reports

                                </p-->
                            </div>
                        </div>
                        <!-- end about-details -->
                    </div>
                </div>


            </div>
        </div>
    </div><!-- End Services Section -->

</div>

{% endblock %}

