{% extends 'jdamainapp/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}

<div class="row justify-content-center align-items-center">
    <div class="col-sm-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show text-center" id="msg_alert" role="alert">
            <a class="close" data-dismiss="alert">x</a>
            <i class="text-muted mr-5">{{message|safe}}</i>
        </div>
        {%endfor%}
        {%endif%}
    </div>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb my_breadcrumb_bg">
        <li class="breadcrumb-item"><a href="{% url 'jdafinancialsapp_home' %}" class="text-light {{bread_home}}">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'jdafinancialsapp_security_listing' %}" class="text-light {{bread_stmts}}">{% trans 'Security Listing' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'jdafinancialsapp_add_stock_security' %}" class="text-light {{bread_stmts}}">{% trans 'Add Stock' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'jdafinancialsapp_add_bond_security' %}" class="text-light {{bread_stmts}}">{% trans 'Add Bond' %}</a></li>
    </ol>
</nav>
<!-- end nav -->
<div class="card shadow-sm p-2 mb-3 bg-white rounded">
    <div class="card-header">
        <div class="text-center">
            <h5 class="text-muted"><i class="far fa-newspaper my_info_txt"></i> {% trans 'Security Listing' %}</h5>
        </div>
    </div>

        <div class="card-body">
            <table id="security_listing" class="table table-responsive-sm table-striped table-bordered dt-responsive nowrap" style="width:100%">
                <thead>
                <tr>
                    <th scope="col">{% trans 'Sec ID' %}</th>
                    <th scope="col">{% trans 'ISIB' %}</th>
                    <th scope="col">{% trans 'Ticker' %}</th>
                    <th scope="col">{% trans 'Name' %}</th>
                    <th scope="col">{% trans 'Issue Date' %}</th>
                    <th scope="col">{% trans 'Security Detail' %}</th>
                    <th scope="col">{% trans 'Remove' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for i in security_listing %}
                <tr>
                    <td>{{ i.pk }}</td>
                    <td>{{i.isin}}</td>
                    <td>{{i.ticker}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.isu_dt}}</td>

                    <td><a hx-get="{% url 'jdafinancialsapp_hx_stock_detail' i.pk %}" hx-target="#security_details" hx-swap="innerHTML swap:0.5s" type="button" data-toggle="modal" data-target="#security_detail_modal"><i class="far fa-eye fa-2x text-info"></i></a></td>
                    <td><a hx-get="{% url 'jdafinancialsapp_hx_delete_security' i.pk %}" hx-target="closest tr" hx-swap="outerHTML swap:1s" class="pointer" role="button" hx-confirm="Are you sure you wish to delete your security ID:{{i.pk}}?"><i class="far fa-trash-alt fa-2x text-danger"></i></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer text-muted">
            <small id="bank_waiter">As of {{rpt_date}}</small>
        </div>
    </div>
<!--//////////////////////////////////////// security detail modal ///////////////////////-->
<div class="modal fade" id="security_detail_modal" tabindex="-1" role="dialog" aria-labelledby="security_detail_modal" aria-hidden="true">
    <div class="modal-dialog my_modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info">{% trans 'Security detail' %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               {% include 'jdafinancialsapp/jdafinancialsapp_security_detail.html' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

