{% extends 'jdamainapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="row justify-content-center align-items-center">
    <div class="col-sm-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show text-center" id="msg_alert" role="alert">
            <a class="close" data-dismiss="alert">x</a>
            <i class="text-muted mr-5">{{message|safe}}</i>
        </div>
        {%endfor%}
        {%endif%}
    </div>
</div>

{% include "jdafinancialsapp/jdafinancialsapp_breadcrumbs.html" %}

<div class="card text-center mt-5">
    <form method="POST" novalidate>
        <div class="card-header">
            <h5 class="text-muted"><i class="fas fa-compass  my_info_txt"></i> {% trans 'Financial Statements' %}</h5>

        </div>
        <div class="card-body">
            {% csrf_token %}
            <div class="row">

                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    {{ form.sector|as_crispy_field }}
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    {{form.company | as_crispy_field}}
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    {{form.statement | as_crispy_field}}
                </div>
                <!--div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    {{form.date | as_crispy_field}}
                </div-->

                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div class="input-group justify-content-center">
                        <div class="input-group-prepend">
                            {{form.date| as_crispy_field}}<i class=" mt-1 far fa-calendar-alt fa-fw fa-2x text-info"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <input class="btn btn-info"  role="button" type="submit" value="{% trans 'Retrieve Statement' %}">
        </div>
    </form>
</div>


{% endblock %}

