<input type="hidden" name="form-TOTAL_FORMS" value="2" id="id_form-TOTAL_FORMS"><input type="hidden"
                                                                                       name="form-INITIAL_FORMS"
                                                                                       value="0"
                                                                                       id="id_form-INITIAL_FORMS"><input
        type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS"><input type="hidden"
                                                                                            name="form-MAX_NUM_FORMS"
                                                                                            value="1000"
                                                                                            id="id_form-MAX_NUM_FORMS">
<tr>
    <th><label for="id_form-0-value_brut">value_brut:</label></th>
    <td><input type="text" name="form-0-value_brut" value="0.0" onBlur="calc();" class="form-control form-control-sm" placeholder="0.00" id="id_form-0-value_brut"></td>
</tr>
<tr>
    <th><label for="id_form-0-value_amort">value_amort:</label></th>
    <td><input type="text" name="form-0-value_amort" value="0.0" onBlur="calc();" class="form-control form-control-sm"
               placeholder="0.00" id="id_form-0-value_amort"></td>
</tr>
<tr>
    <th><label for="id_form-0-value_net">value_net:</label></th>
    <td><input type="text" name="form-0-value_net" value="0.0" onBlur="calc();" class="form-control form-control-sm"
               placeholder="0.00" id="id_form-0-value_net"></td>
</tr>
<tr>
    <th><label for="id_form-0-value_net_prev_yr">value_net_prev_yr:</label></th>
    <td><input type="text" name="form-0-value_net_prev_yr" value="0.0" onBlur="calc();"
               class="form-control form-control-sm" placeholder="0.00" id="id_form-0-value_net_prev_yr"><input
            type="hidden" name="form-0-id" id="id_form-0-id"></td>
</tr>
<tr>
    <th><label for="id_form-1-value_brut">value_brut:</label></th>
    <td><input type="text" name="form-1-value_brut" value="0.0" onBlur="calc();" class="form-control form-control-sm"
               placeholder="0.00" id="id_form-1-value_brut"></td>
</tr>
<tr>
    <th><label for="id_form-1-value_amort">value_amort:</label></th>
    <td><input type="text" name="form-1-value_amort" value="0.0" onBlur="calc();" class="form-control form-control-sm"
               placeholder="0.00" id="id_form-1-value_amort"></td>
</tr>
<tr>
    <th><label for="id_form-1-value_net">value_net:</label></th>
    <td><input type="text" name="form-1-value_net" value="0.0" onBlur="calc();" class="form-control form-control-sm"
               placeholder="0.00" id="id_form-1-value_net"></td>
</tr>
<tr>
    <th><label for="id_form-1-value_net_prev_yr">value_net_prev_yr:</label></th>
    <td><input type="text" name="form-1-value_net_prev_yr" value="0.0" onBlur="calc();"
               class="form-control form-control-sm" placeholder="0.00" id="id_form-1-value_net_prev_yr"><input
            type="hidden" name="form-1-id" id="id_form-1-id"></td>
</tr>
V:
<tr>
    <th><label for="id_form-0-value_brut">value_brut:</label></th>
    <td><input type="text" name="form-0-value_brut" value="0.0" onBlur="calc();" class="form-control form-control-sm"
               placeholder="0.00" id="id_form-0-value_brut"></td>
</tr>
<tr>
    <th><label for="id_form-0-value_amort">value_amort:</label></th>
    <td><input type="text" name="form-0-value_amort" value="0.0" onBlur="calc();" class="form-control form-control-sm"
               placeholder="0.00" id="id_form-0-value_amort"></td>
</tr>
<tr>
    <th><label for="id_form-0-value_net">value_net:</label></th>
    <td><input type="text" name="form-0-value_net" value="0.0" onBlur="calc();" class="form-control form-control-sm"
               placeholder="0.00" id="id_form-0-value_net"></td>
</tr>
<tr>
    <th><label for="id_form-0-value_net_prev_yr">value_net_prev_yr:</label></th>
    <td><input type="text" name="form-0-value_net_prev_yr" value="0.0" onBlur="calc();"
               class="form-control form-control-sm" placeholder="0.00" id="id_form-0-value_net_prev_yr"><input
            type="hidden" name="form-0-id" id="id_form-0-id"></td>
</tr>
V:
<tr>
    <th><label for="id_form-1-value_brut">value_brut:</label></th>
    <td><input type="text" name="form-1-value_brut" value="0.0" onBlur="calc();" class="form-control form-control-sm"
               placeholder="0.00" id="id_form-1-value_brut"></td>
</tr>
<tr>
    <th><label for="id_form-1-value_amort">value_amort:</label></th>
    <td><input type="text" name="form-1-value_amort" value="0.0" onBlur="calc();" class="form-control form-control-sm"
               placeholder="0.00" id="id_form-1-value_amort"></td>
</tr>
<tr>
    <th><label for="id_form-1-value_net">value_net:</label></th>
    <td><input type="text" name="form-1-value_net" value="0.0" onBlur="calc();" class="form-control form-control-sm"
               placeholder="0.00" id="id_form-1-value_net"></td>
</tr>
<tr>
    <th><label for="id_form-1-value_net_prev_yr">value_net_prev_yr:</label></th>
    <td><input type="text" name="form-1-value_net_prev_yr" value="0.0" onBlur="calc();"
               class="form-control form-control-sm" placeholder="0.00" id="id_form-1-value_net_prev_yr"><input
            type="hidden" name="form-1-id" id="id_form-1-id"></td>
</tr>
