{% extends 'jdamainapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="row justify-content-center align-items-center">
    <div class="col-sm-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show text-center" id="msg_alert" role="alert">
            <a class="close" data-dismiss="alert">x</a>
            <i class="text-muted mr-5">{{message|safe}}</i>
        </div>
        {%endfor%}
        {%endif%}
    </div>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb my_breadcrumb_bg">
        <li class="breadcrumb-item"><a href="{% url 'admin_tasks' %}" class="text-light"><i class="fas fa-tasks text-white"></i> {% trans 'Admin Tasks' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'admin_tasks_add' %}" class="text-light"><i class="fas fa-user-plus text-white"></i> {% trans 'Admin Tasks - Add User' %} </a></li>
    </ol>
</nav>

<div class="card shadow-sm p-2 mb-3 bg-white rounded">
    <div class="card-header">
        <div class="text-center">
            <h5 class="text-muted"><i class="fas fa-user-lock my_info_txt"></i> {% trans 'Administrative Tasks' %}</h5>
        </div>
    </div>

    <div class="card-body">
            <div class="card-body">
    <table id="publication_listing" class="table table-responsive-sm table-striped table-bordered dt-responsive nowrap" style="width:100%">
        <thead>
            <tr>
                <!--th>#</th-->
                <th>{% trans 'Username' %}</th>
                <!--th>{% trans 'Password' %}</th-->
                <th>{% trans 'Email' %}</th>
                <th>{% trans 'Group' %}</th>
                <th>{% trans 'Last Login' %}</th>
                <th>{% trans 'Date Joined' %}</th>
                <th>{% trans 'Profile Logo' %}</th>
                <th class="text-center">{% trans 'Edit Profile' %}</th>
                <th class="text-center">{% trans 'Deactivate' %}</th>

            </tr>
        </thead>
        <tbody>
            {% for i in user_profile %}
            <tr>
                <!--td>{{i.pk}} - {{forloop.counter}}</td-->
                <td>{{i.username}}</td>
                <!--td>{{i.password}}</td-->
                <td>{{i.email}}</td>
                {% for j in i.groups.all %}
                <td>{{ j }}{% if not forloop.last %},{% endif %}</td>
                {% endfor %}
                <td>{{ i.last_login |date:"Y-m-d" }}</td>
                <td>{{ i.date_joined |date:"Y-m-d" }}</td>
                <td class="text-center"><img class="account-img logo_admin" src="{{ i.profile.logo.url }}" /></td>
                <td class="text-center" style="width: 8%"><a href="{% url 'admin_tasks_edit' 'edit_user' i.pk %}"><i class="fas fa-edit fa-1.5x text-info"></i></a></td>
                <td class="text-center" style="width: 4%"><a href="{% url 'admin_tasks_edit' 'del_user' i.pk %}"><i class="fas fa-user-slash fa-1.5x text-danger"></i></a></td>
                <!--td class="text-center" style="width: 4%"><a href="{% url 'admin_tasks_edit' 'del_user' i.pk %}" onclick="return confirm('Are you sure you want delete user id {{i.pk}}? This action is not reversible');"><i class="fas fa-user-slash fa-1.5x text-danger"></i></a></td-->

                <!--td><a href="#" data-href="{% url 'admin_tasks_edit' 'del_user' i.pk %}" data-toggle="modal" data-target="#confirm-delete" onclick="return res_tes({{i.pk}});">Delete record #23</a>Name: <input type="hidden" name="name" id="name" value="{{i.pk}}"></td-->

            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="card-footer text-muted">
        <small id="bank_waiter">As of {{rpt_date}}</small>
    </div>

    </div>
</div>





<!-- confim modal -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">PK {{pk}} EndPK
                ...
            </div>
            <div class="modal-body">res
                 <h6 id="user_pk"></h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-warning btn-ok" onclick="">Delete</a>
                <a href="{% url 'admin_tasks_edit' 'del_user' 999 %}".replace(999, document.getElementById(user_pk)conta>del</a>

            </div>
        </div>
    </div>
</div>
<style>

 .logo_admin {
    width: auto;
    height: 70px;
}
</style>

<script>
    <script type="text/javascript">
function JSalert(){
	swal({   title: "Your account will be deleted permanently!",
    text: "Are you sure to proceed?",
    type: "warning",
    showCancelButton: true,
    confirmButtonColor: "#DD6B55",
    confirmButtonText: "Yes, Remove My Account!",
    cancelButtonText: "No, I am not sure!",
    closeOnConfirm: false,
    closeOnCancel: false },
    function(isConfirm){
        if (isConfirm)
    {
        swal("Account Removed!", "Your account is removed permanently!", "success");
        }
        else {
            swal("Hurray", "Account is not removed!", "error");
            } });
}
</script>
</script>
{% endblock %}

