{% extends 'jdatester/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row justify-content-center align-items-center">
    <div class="col-sm-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show text-center" id="msg_alert" role="alert">
            <a class="close" data-dismiss="alert">x</a>
            <i class="text-muted mr-5">{{message|safe}}</i>
        </div>
        {%endfor%}
        {%endif%}
    </div>
</div>

<div class="card text-center mt-3">
    <div class="card-header">
        <div class="row justify-content-center">
            <a href="{ url 'jdafinancialsapp_statement_rpt' company_id statement entry_date }"><i class="fas fa-layer-group  fa-2x my_info_txt mr-1 mt-2"></i></a>
            <span class="Xmy_info_txt_title mt-3 text-secondary"><h6>{{title}}</h6></span>
        </div>
    </div>
    <form class="hero-form" method="post" novalidate>
        <div class="card-body">
            {% csrf_token %}
            <div class="row">
                <table id='bal_tbl' class="table table-sm table-bordered table-hover">
                    <tr>
                        <th class="text-center">#</th>
                        <th class="min_width">Line ID</th>
                        <th class="min_width">Line</th>
                        <th class="min_width">Value Brut</th>
                        <th class="min_width">Amort</th>
                    </tr>
                    {{ formset.management_form | crispy}}
                    {% for i in formset %}
                    <tr>
                        <td class="asterisk text-center">{{ forloop.counter0 }}</td>
                        <td>{{i.id}}</td>
                        <td>{{i.financial_statement_line}}</td>
                        <td>{{i.value_brut}}</td>
                        <td>{{i.value_amort}}</td>
                    </tr>
                    {% endfor %}
                </table>

            </div>

        </div>
        <div class="card-footer text-muted">
            <input class="btn btn-info" role="button" type="submit" value="submit">
        </div>
    </form>

</div>


<table class="table table-striped table-hover table-bordered table-responsive">
    <th>#</th>
    <th>PK</th>
    <th>Company</th>
    <th>Line ID</th>
    <th>Line </th>
    <th>Entry Date</th>
    <th>Brut</th>
    <th>Statement</th>
    {% for i in fact %}
    <tr>
        <td class="asterisk text-center">{{ forloop.counter0 }}</td>
        <td>{{i.id}}</td>
        <td>{{i.company}}</td>
        <td>{{i.financial_statement_line_id}}</td>
        <td>{{i.financial_statement_line}}</td>
        <td>{{i.entry_date}}</td>
        <td>{{i.value_brut}}</td>
        <td>{{i.value_amort}}</td>
        <!--td>{{i.entry_date}}</td>
        <td>{{i.entry_date}}</td-->
        <!--td><a href="{ url 'test_model_edit' i.pk }"><i class="far fa-edit"></i></a></td-->

    </tr>
    {% endfor%}
</table>

{% endblock %}

<!--statement_type = models.CharField(max_length=30, choices=CHOICES, null=True, blank=True)-->
    <!--company = models.ForeignKey(CompanyModel, on_delete=models.CASCADE, null=False, blank=False)-->
    <!--financial_statement_line = models.ForeignKey(FinancialStatementLineModel, on_delete=models.CASCADE)-->
    <!--#pub_period = models.CharField(max_length=30, choices=PERIODS, null=False, blank=False)-->
    <!--entry_date= models.DateField(auto_now=False, auto_now_add=False, blank=False, null=False)-->
    <!--value_brut = models.DecimalField(default=0.00, max_digits=18, decimal_places=2)-->
    <!--value_amort = models.DecimalField(default=0.00, max_digits=18, decimal_places=2)-->
    <!--value_net = models.DecimalField(default=0.00, max_digits=18, decimal_places=2)-->
    <!--value_net_prev_yr = models.DecimalField(default=0.00, max_digits=18, decimal_places=2)-->
