{% extends 'jdatester/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}

<div class="row justify-content-center align-items-center">
    <div class="col-sm-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show text-center" id="msg_alert" role="alert">
            <a class="close" data-dismiss="alert">x</a>
            <i class="text-muted mr-5">{{message|safe}}</i>
        </div>
        {%endfor%}
        {%endif%}
    </div>
</div>

<div class="card text-center mt-3">
    <div class="card-header">
        <div class="row justify-content-center">
            <a href="{ url 'jdafinancialsapp_statement_rpt' company_id statement entry_date }"><i
                    class="fas fa-layer-group  fa-2x my_info_txt mr-1 mt-2"></i></a>
            <span class="Xmy_info_txt_title mt-3 text-secondary"><h6>Test </h6></span>
        </div>
    </div>
    <div>
        <form class="hero-form" method="post" novalidate>
            <div class="card-body">
                {% csrf_token %}
                <div class="row">
                    <table id='bal_tbl' class="table table-sm table-bordered table-hover">
                        <tr>
                            <th class="text-center">#</th>
                            <th>Label</th>
                            <th>Brut</th>
                            <th>Amort</th>
                            <th>Net</th>
                        </tr>
                        <tr>
                            <td class="asterisk text-center">1</td>
                            <td style="text-align: left">{{lines.0}}</td>
                            <td>{{form.brut_1 | as_crispy_field}}</td>
                            <td>{{form.amort_1 | as_crispy_field}}</td>
                            <td>{{form.net_1 | as_crispy_field}}</td>
                        </tr>
                        <tr>
                            <td class="asterisk text-center">2</td>
                            <td style="text-align: left">{{lines.1}}</td>
                            <td>{{form.brut_2 | as_crispy_field}}</td>
                            <td>{{form.amort_2 | as_crispy_field}}</td>
                            <td>{{form.net_2 | as_crispy_field}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card-footer text-muted">
                <input class="btn btn-info" role="button" type="submit" value="submit">
            </div>
        </form>
    </div>

    <div>Link Table
        <table class="table table-striped table-hover table-bordered table-responsive">
            <th>Line</th>
            <th>Company</th>
            <th>Entry Date</th>
            <th>Brut</th>
            <th>Amort</th>
            <th>Net</th>
            {% for i in link %}
            <tr>
                <td style="text-align: left">{{lines.0}}</td>
                <td>{{i.company}}</td>
                <td>{{i.entry_date}}</td>
                <td>{{i.brut_1}}</td>
                <td>{{i.amort_1}}</td>
                <td>{{i.net_1}}</td>
            </tr>
            <tr>
                <td style="text-align: left">{{lines.1}}</td>
                <td>{{i.company}}</td>
                <td>{{i.entry_date}}</td>
                <td>{{i.brut_2}}</td>
                <td>{{i.amort_2}}</td>
                <td>{{i.net_2}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div>BalanceSheet Table
        <table class="table table-striped table-hover table-bordered table-responsive">
            <th>ID</th>
            <th>Line</th>
            <th>Company</th>
            <th>Entry Date</th>
            <th>Brut</th>
            <th>Amort</th>
            <th>Net</th>
            {% for i in bal %}
            <tr>
                <td>{{i.lbl.id}}</td>
                <td style="text-align: left">{{i.lbl}}</td>
                <td>{{i.company}}</td>
                <td>{{i.entry_date}}</td>
                <td>{{i.brut}}</td>
                <td>{{i.amort}}</td>
                <td>{{i.net}}</td>
            </tr>

            {% endfor %}
        </table>
    </div>

</div>

<script>
function calc()
{
 //set_passive_header(); // Add passive label only once
 b1=document.getElementById('id_brut_1').value;
 b2=document.getElementById('id_brut_2').value;

 a1=document.getElementById('id_amort_1').value;
 a2=document.getElementById('id_amort_2').value;

 /*
 n1=document.getElementById('id_net_1').value;
 n2=document.getElementById('id_net_2').value;
 */
 /* Sub totals */
 document.getElementById("id_net_1").value=sum(b1,-a1);
 document.getElementById("id_net_2").value=sum(b2,-a2);
 /*document.getElementById("id_form-1-value_brut").value=sum(v2,v3,v4, v5);
 document.getElementById("id_form-6-value_brut").value =sum(v7,v8,v9,v10, v11, v12, v13, v14);
 document.getElementById("id_form-15-value_brut").value =sum(v16,v17);
 document.getElementById("id_form-18-value_brut").value =sum(v1, v6, v15);
 document.getElementById("id_form-21-value_brut").value =sum(v22, v23, v24);
 document.getElementById("id_form-25-value_brut").value =sum(v20, v21);
 document.getElementById("id_form-29-value_brut").value =sum(v26, v27, v28);
 document.getElementById("id_form-31-value_brut").value =sum(v18,v25,v29,v30);
 document.getElementById("id_form-43-value_brut").value =sum(v33, v34, v35, v36, v37, v38, v39, -v40);
 document.getElementById("id_form-47-value_brut").value =sum(v44, v45, v46);
 document.getElementById("id_form-48-value_brut").value =sum(v43, v47);
 document.getElementById("id_form-55-value_brut").value =sum(v49, v50, v51, v52, v53, v54);
 document.getElementById("id_form-58-value_brut").value =sum(v56, v57);
 document.getElementById("id_form-60-value_brut").value =sum(v48, v55, v58, v59);*/

}


function sum()
{
 var tot = 0.00;
 for (i = 0; i < arguments.length; i++)
 {
  tot+=parseFloat(arguments[i]);
 }
 if (isNaN(tot)) {
    return '0.00';
  }
  else
  {
   return tot.toFixed(2);
 }
}


function my_lbl_row()
{
 var table = document.getElementById("bal_tbl");
  var row = table.insertRow(32);
  var cell1 = row.insertCell(0);
  var cell2 = row.insertCell(1);
  cell1.innerHTML = '';
  cell2.innerHTML = "<span class='text-center font-weight-bold'>BALANCE SHEET(PASSIF)</span>";
}


function my_input_row()
{
 var table = document.getElementById("bal_table_input");
  var row = table.insertRow(32);
  var cell1 = row.insertCell(0);

  cell1.innerHTML = "<span class='text-center font-weight-bold'>BRUT</span>";
}


function paint_row_hearder()
{
 var cells_actif  = document.querySelectorAll('tr:nth-child(6)');
 var cells_passif = document.querySelectorAll('tr:nth-child(38)');

 for(var i = 0 ; i < cells_actif.length ; i++)
 {
  if(cells_actif[i].textContent.trim() > '')
  {
    cells_actif[i].classList.add('my_header_bg');
  }
 }

 for(var i = 0 ; i < cells_passif.length ; i++)
 {
  if(cells_passif[i].textContent.trim() > '')
  {
   cells_passif[i].classList.add('my_header_bg');
  }
 }
}



var set_passive_header = (function() {
    var executed = false;
    return function() {
        if (!executed) {
            executed = true;
            // do something only once
            paint_row_hearder();
        }
    };
})();


  window.onload = function(){
        // All code comes here
        calc();
        set_passive_header();
 }

</script>
{% endblock %}





