<!DOCTYPE html>
{% extends 'jdatester/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
 <p> upload EXCEL form </p>
 <form class="form" method="post" enctype="multipart/form-data" >
  {% csrf_token %}
     {{form}}
  <!--input type="file" name="excel"-->
  <input type="submit" value=" upload ">
 </form>

<hr><br>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Last</th>
      <th scope="col">Location</th>
    </tr>
  </thead>
  <tbody>
    {% for i in data %}
    <tr>
      <th scope="row">{{i.pk}}</th>
      <td>{{i.last_name}}</td>
      <td>{{i.location}}</td>
    </tr>
    {% endfor%}
  </tbody>
</table>

{% endblock%}